/**
 * The custom toolbox widget displays a set of tools the user can use to edit the
 * content of the page.
 */

.ct-widget {
    .ct-tool {
        &--button:before { content: "\ea1e"; }
        &--align-justify:before { content: "\ea7a"; }
        &--background-image:before { content: "\e90e"; }
    }
}
// Color picker dialog
.cp-app {
	z-index: 10010;
}