/#*#
*.mo
*.pyc
*.swp
*.swo
*.orig
media/
*~
lcov.info
response.html
user-dups.csv
user-exceptions
env/
.env
venv/
project/settings/local.py
data/
trash/
logs/
static/
update_local.sh
aklub.log*
db_backup
.coverage
.pytest_cache
htmlcov/
venv/
.idea/

*.pid
celerybeat-schedule

db*
third-party

.DS_Store