/#*#
*.mo
*.pyc
*.swp
*.swo
*.orig
media/
*~
env/
.env
venv/
project/settings/local.py
data/
trash/
logs/
update_local.sh
aklub.log*
db_backup
.coverage
.pytest_cache
htmlcov/
venv/
.idea/

*.pid
celerybeat-schedule

db