sudo: false
language: python
services:
  - redis-server
env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
    - DATABASE_NAME="travis_ci"
    - DATABASE_USER="postgres"
    - DJANGO_SETTINGS_MODULE="project.settings.test"
    - SECRET_KEY="sadfjasasdfasdfsadfsadfsadfeq"

  matrix:
    - DJANGO_VERSION="Django>=1.11,<1.12"
    - DJANGO_VERSION="Django>=2.0,<2.1"
    - DJANGO_VERSION="Django>=2.1,<2.2"
    - DJANGO_VERSION='https://github.com/django/django/archive/master.tar.gz'
python:
  - "3.6"
before_install:
  - sudo apt-get install -y python-gdal
install:
  - 
  - pip install pipenv
  - pipenv install --dev --ignore-pipfile
  - pipenv run pip install flake8-strict  # not installable with pipenv, move ther when repaired
  - pipenv run pip install -q $DJANGO_VERSION
before_script:
  - npm install -g bower
  - pipenv run flake8
  - pipenv run python manage.py bower install
  - pipenv run python manage.py collectstatic -v0 --noinput
  - cd apps/aklub/
  - DJANGO_SETTINGS_MODULE="" pipenv run django-admin compilemessages
  - cd ../..
script:
  - pipenv run python manage.py --version
  - pipenv run ./runtests.sh
after_script:
  - coveralls
addons:
  postgresql: "9.6"
matrix:
   allow_failures:
      - env: DJANGO_VERSION='https://github.com/django/django/archive/master.tar.gz'
