[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.3.0"
django-celery-email = "*"
django-stdimage = "*"
reportlab = "*"
django-extensions = "*"
"psycopg2" = "*"
django-wysiwyg = {editable = true,git = "https://github.com/tmszi/django-wysiwyg.git",ref = "enable_editor_for_more_fields"}
django-tinymce = "*"
django-admin-tools = "*"
feedparser = "*"
django-chart-tools = "*"
django-mass-edit = "*"
python-memcached = "*"
django-import-export = {ref = "row_numbers",git = "https://github.com/PetrDlouhy/django-import-export",editable = true}
django-import-export-celery = "*"
django-author = "*"
django-qsstats-magic = "*"
python-dateutil = "*"
"html2text" = "*"
xlrd = "*"
django-daterange-filter = "*"
django-cors-headers = "*"
django-related-admin = "*"
gunicorn = "*"
django-betterforms = "*"
django-adminactions = "*"
django-helpdesk = {editable = true,git = "https://github.com/auto-mat/django-helpdesk.git",ref = "timeline"}
django-admin-large-initial-data = "*"
django-admin-charts = ">=0.12.0"
django-bower = "*"
djcacheutils = "*"
django-adminfilters = "<1.1"
django-advanced-filters = "*"
django-bulk-update = "*"
django-extra-views = "*"
django-sesame = "==1.4"
django-ses = "*"
vokativ = "*"
"PyPDF2" = "*"
django-post_office = {ref = "jsonfield2",git = "https://github.com/Mogost/django-post_office",editable = true}  # for django-jsonfield2 transition
raven = "*"
python-dotenv = "*"
django-heroku = "*"
whitenoise = "*"
django-redis = "*"
single-beat = "*"
redis = "*"
django-storages = "*"
boto3 = "*"
"django-bootstrap4-form" = "*"
"django-bootstrap-form" = "*"
django-markdown-deux = "*"
"beautifulsoup4" = "*"
lxml = "*"
simplejson = "*"
pytz = "*"
six = "*"
djangorestframework = "*"
django-model-utils = "*"
django_celery_beat = "*"
email_reply_parser = "*"
django-smmapdfs = "*"
django-colorfield = "*"
newrelic = "*"
django-nested-admin = "*"
django_celery_monitor = {editable = true,git = "https://github.com/peergradeio/django-celery-monitor",ref = "django-2.2"}
django_grapesjs = "*"
django-stdnumfield = "*"
# https://github.com/django-polymorphic/django-polymorphic/pull/400
django-polymorphic = {editable = true,git = "https://github.com/tmszi/django-polymorphic",ref = "fix_django_advanced_filters"}
django-isnull-list-filter = "*"
docutils = "*"
wiki = "*"
django-flexible-filter-conditions = "*"
tablib = "==0.14"
django-dbbackup = "*"
faker = "*"
django-computedfields = "*"
django-oauth-toolkit = "*"
django-rest-swagger = "*"
django-filter = "*"
django-js-urls = "*"
mkdocs = "*"
cairosvg = "*"
django = {editable = true,git = "https://github.com/tmszi/django.git",ref = "ticket_31000_stable_2.2.x"}

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
freezegun = "*"
django-debug-toolbar = "*"
pudb = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-comprehensions" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"flake8-builtins" = "*"
coveralls = "*"
django-admin-smoke-tests = {ref = "merge_all",git = "https://github.com/PetrDlouhy/django-admin-smoke-tests",editable = true}
model_mommy = "*"
mock = "*"
flower = "*"
ipython = "*"

[requires]
python_version = "3.6"

[dev-dependencies]

[pipenv]
allow_prereleases = false
