[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-stdimage = "*"
reportlab = "*"
django-extensions = "*"
"psycopg2" = "*"
django-bootstrap-form = "*"
django-wysiwyg = "*"
django-tinymce = "*"
django-admin-tools = "*"
feedparser = "*"
django-chart-tools = "*"
django-mass-edit = "*"
python-memcached = "*"
django-import-export = "*"
django-qsstats-magic = "*"
python-dateutil = "*"
"html2text" = "*"
xlrd = "*"
django-daterange-filter = "*"
django-cors-headers = "*"
django-related-admin = "*"
django-denorm = "*"
gunicorn = "*"
django-betterforms = "*"
django-adminactions = "*"
django-admin-large-initial-data = "*"
django-admin-tools-stats = "*"
django-bower = "*"
djcacheutils = "*"
django-adminfilters = "<1.1"
django-advanced-filters = "*"
django-bulk-update = "*"
django-extra-views = "*"
django-sesame = "*"
vokativ = "*"
Django = "<2.2"
"PyPDF2" = "*"
django-post_office = "*"
raven = "*"
django-helpdesk = {editable = true, ref = "a3bc6ed46bb1a00ce4664dfeac155e4b11b842a8", git = "https://github.com/django-helpdesk/django-helpdesk.git"}

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
freezegun = "*"
django-debug-toolbar = "*"
pudb = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-comprehensions" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"flake8-builtins" = "*"
coveralls = "*"
django-admin-smoke-tests = {git = "https://github.com/jnoortheen/django-admin-smoke-tests", editable = true}
model_mommy = "*"

[requires]
python_version = "3.6"
