[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.3.0"
django-celery-email = "*"
django-stdimage = "*"
reportlab = "*"
django-extensions = "*"
"psycopg2" = "*"
django-wysiwyg = "*"
django-tinymce = "*"
django-admin-tools = "*"
feedparser = "*"
django-chart-tools = "*"
django-mass-edit = "*"
python-memcached = "*"
django-import-export = "*"
django-import-export-celery = ">=0.0.2"
django-author = "*"
django-qsstats-magic = "*"
python-dateutil = "*"
"html2text" = "*"
xlrd = "*"
django-daterange-filter = "*"
django-cors-headers = "*"
django-related-admin = "*"
django-denorm = "*"
gunicorn = "*"
django-betterforms = "*"
django-adminactions = {git = "https://github.com/saxix/django-adminactions.git", editable = true, ref = "develop"}
django-helpdesk = {git = "https://github.com/auto-mat/django-helpdesk.git", editable = true, ref = "abs-paths"}
django-admin-large-initial-data = "*"
django-admin-tools-stats = "*"
django-bower = "*"
djcacheutils = "*"
django-adminfilters = "<1.1"
django-advanced-filters = "*"
django-bulk-update = "*"
django-extra-views = "*"
django-sesame = "==1.4"
django-ses = "*"
vokativ = "*"
Django = ">=2,<3"
"PyPDF2" = "*"
django-post_office = "*"
raven = "*"
python-dotenv = "*"
django-heroku = "*"
whitenoise = "*"
django-redis = "*"
single-beat = "==0.2.1"
redis = "*"
django-storages = "*"
boto = "*"
"django-bootstrap4-form" = "*"
"django-bootstrap-form" = "*"
django-markdown-deux = "*"
"beautifulsoup4" = "*"
lxml = "*"
simplejson = "*"
pytz = "*"
six = "*"
djangorestframework = "*"
django-model-utils = "*"
django_celery_beat = "*"
email_reply_parser = "*"
django-smmapdfs = "*"
newrelic = "*"
django-nested-admin = "*"
django_celery_monitor = {git = "https://github.com/peergradeio/django-celery-monitor", editable = true, ref = "django-2.2"}
django_grapesjs = "*"
django-stdnumfield = {git = "https://github.com/PetrDlouhy/django-stdnumfield.git", editable = true, ref = "mergeup"}

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
freezegun = "*"
django-debug-toolbar = "*"
pudb = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-comprehensions" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
"flake8-builtins" = "*"
coveralls = "*"
django-admin-smoke-tests = {git = "https://github.com/PetrDlouhy/django-admin-smoke-tests",ref = "merge_all",editable = true}
model_mommy = "*"
mock = "*"
flower = "*"

[requires]
python_version = "3.6"

[dev-dependencies]

[pipenv]
allow_prereleases = false
