Django<1.10
django-stdimage
reportlab
django-extensions
psycopg2
django-bootstrap-form
#pygraphviz
django-wysiwyg
django-tinymce
django-admin-tools
feedparser
-e git+https://github.com/PetrDlouhy/django-admin-user-stats.git#egg=django-admin-user-stats
#django-admin-user-stats==0.2
django-chart-tools
-e git+https://github.com/PetrDlouhy/django-mass-edit.git#egg=django-mass-edit
python-memcached
-e git+https://github.com/PetrDlouhy/django-import-export.git#egg=django-import-export
-e git+https://github.com/PetrDlouhy/django-qsstats-magic.git#egg=django-qsstats-magic
python-dateutil
html2text
xlrd
django-daterange-filter
django-cors-headers
django-formtools
django-related-admin
-e git+https://github.com/PetrDlouhy/django-denorm.git@develop#egg=django-denorm
django-timedeltafield
gunicorn
pypdf2  # for pdf result testing
