coverage
django_coverage_plugin
-e git+https://github.com/greyside/django-admin-smoke-tests.git#egg=django-admin-smoke-tests  # the non-PIP source is for newest django-polymorphic, that defined both get_queryset and queryset
freezegun
django-debug-toolbar
pudb
flake8
flake8-blind-except
flake8-comprehensions
flake8-import-order
flake8-tidy-imports
flake8-class
flake8-builtins
flake8-strict
