coverage
django_coverage_plugin
-e git+https://github.com/PetrDlouhy/django-admin-smoke-tests.git@supermaster#egg=django-admin-smoke-tests  # the non-PIP source is for newest django-polymorphic, that defined both get_queryset and queryset
freezegun
django-debug-toolbar
pudb
