{% extends "admin/aklub/change_form.html" %}
{% load i18n %}
{% load static %}
{% load admin_modify %}
{% load admin_urls %}
{% load wysiwyg %}

{% block submit_buttons_bottom %}
<div class="submit-row">
   <button type="submit" value="test_mail" class="sendtestmail" name="_continue" {% if onclick_attrib %}{{ onclick_attrib }}{% endif %}>{% trans 'Save and send testing email' %}</button>
</div>
{% submit_row %}
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{% wysiwyg_setup %}
{% endblock %}

{% block content %}
	{{ block.super }}
	{% wysiwyg_editor "id_template" %}
	{% wysiwyg_editor "id_template_en" %}
{% endblock %}
