{% extends "registration_form.html" %}

{% block title %}
Trvalý příkaz | Auto*Mat
{% endblock %}

{% block heading %}
Trvalý příkaz
{% endblock %}

{% block intro %}
<p>Jestli se Vám naše aktivity líbí a chcete, abychom v nich pokračovali,
podpořte nás finančně – posílejte nám na náš účet pravidelný příspěvek,
abychom mohli i nadále prosazovat Vaše zájmy.</p>

<p><em>(Platby mohou mít frekvenci měsíční, čtvrtletní nebo i roční – pro získání
členské karty je rozhodující to, aby odcházely pomocí trvalého příkazu
a celková výše daru činila alespoň 1800 Kč ročně.)</em></p>

<p>Chci podporovat Auto*Mat. Jedu v tom s vámi!</p>
{% endblock %}


{% block agreement %}
<p>
Odesláním tohoto formuláře souhlasím se <a target="_blank" href="http://www.auto-mat.cz/zasady">Zásadami ochrany osobních údajů Auto*Matu</a>.
</p>
{% endblock %}

{% block warning %}
<p>(Odeslání formuláře může malou chvilku trvat, prosíme o trpělivost.)</p>
{% endblock %}
