{% load bootstrap %}


<div>
<form id="aklub-form" method="post" class="form-horizontal" action="http://{{ request.get_host }}{{ request.path }}">{% csrf_token %}

Chcete bydlet ve městech, ve kterých je radost jezdit (do práce) na kole?
Chcete se účastni soutěže do práce na kole bez nutnosti platit účastnický poplatek?
Staňte se členem Klubu přátel Auto*Matu a buďte pravidelným dárcem.
Stačí jen pár minut času a nevelký měsíční příspěvek.
<br/>
Pozn.: Pro nárok na nulový účastnický poplatek pro soutěž Do práce na kole je třeba, aby se váš první dar připsal na náš účet do konce dubna.
<br/>

  {{ form|bootstrap }}
  <p>
  Odesláním tohoto formuláře souhlasím se <a target="_blank" href="http://www.auto-mat.cz/zasady">Zásadami ochrany osobních údajů Auto*Matu</a>.
  </p>
  <input type="button" name="prev" value="Předchozí" class="btn btn-default" id="button-id-prev" onclick="window.location.href='/cs/zmenit_triko/'">
  <input type="submit" id="submit-id-submit" class="btn btn-primary" value="Odeslat" name="submit">
</form>
</div>
