{% extends "admin/base_site.html" %}

{% block title %}List of books by publisher{% endblock %}

{% block content %}
<div id="content-main">
  <h1>Statistiky členů klubu</h1>

  <h2>Celkový počet členů</h2>

  {{ total_members }}

  <h2>Členové po měsících</h2>
      <table>
      <tr><td>Rok</td><td>Měsíc</td><td>Pravidelní</td><td>Nepravidelní</td><td>Celkem za měsíc</td><td>Celkem</td></tr>
      {% for m in members_by_months %}
      <tr><td>{{ m.year }}</td><td>{{ m.month }}</td><td>{{ m.regular }}</td><td>{{ m.irregular }}</td><td>{{ m.total }}</td><td>{{ m.run_total }}</td></tr>
      {% endfor %}
      </table>

</div>
{% endblock %}
