<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Registrace člena klubu přátel</title>
<link rel='stylesheet' id='my-css-css'  href='http://www.nakrmteautomat.cz/admin/css/django_form.css' type='text/css' media='all' />
</head>

<body>
{% include "google_analytics_shop.html" %}

<h1>Děkujeme!</h1>

Hrdinství máš už na dosah ruky, stačí tři kroky:

<ol>
<li>Podívej se do mailu, za chvilku Ti tam dorazí informace nutné k zadání platebního příkazu.</li>

<li>Založ podle nich trvalý příkaz (čím dřív odejde první platba, tím dřív nastane bod 3)</li>

<li>Počkej na připsání první platby - dostaneš děkovný mail a pokud máš zájem, Tvé foto a důvod pro podporu se zobrazí ostatním.</li>
</ol>

<p>Znovu děkujeme za Tvou pomoc a důvěru a těšíme se na spolupráci!</p>

</body>
</html>
