<h5>Děkujeme!</h5>

Přijetí do Klubu přátel se všemi jeho výhodami (včetně startovného do Do práce na kole) leží už na dosah ruky. Stačí tři kroky:

<ol>
   <li>Podívejte se do mailu, za chvilku Vám tam dorazí informace nutné k zadání platebního příkazu.</li>

   <li>Založte podle nich trvalý příkaz tak, aby první platba dorazila na náš účet do 27. dubna tohoto roku (čím dříve, tím dříve nastane bod 3).</li>

   <li>Poté už zbývá jen čekat na připsání první platby – a začnou se dít věci. Na tomto webu potvrdíme Vaše členství a tím i "platbu" a začne se vypravovat Váš startovní balíček. Z Klubu přátel dostanete děkovný mail, Vaše foto a důvod pro podporu se může zobrazit ostatním pro inspiraci... a ještě mnohem více. Nechte se překvapit.</li>
</ol>

<p>Znovu děkujeme za Vaši pomoc a důvěru a těšíme se na spolupráci!</p>

<script>
$(".form-actions").show();
</script>
