.newsletter-section {
    width: 518px;
    height: 1598px;    
}
.newsletter-section p, h1 {
    margin: 0px;
}
.newsletter-section h1 {
    text-align: center;
}
.newsletter-section .sample-pic {
    width: 250px;
    height: 280px;
}
.newsletter-section .align-center {
    text-align: center;
}
.vertical-line {
    height: 50px;
}
.green-newsletter-section .top-vertical-line {
    height: 180px;
}
.purple-newsletter-section .top-vertical-line {
    height: 180px;
}
.red-newsletter-section .top-vertical-line {
    height: 160px;
}
