{% load static %}
{% load i18n %}
{% load automat_fonts %}
{% get_automat_fonts %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="page-id" content="{{page.id}}"/>
        <title>ContentTools sandbox</title>
        <link rel="stylesheet" type="text/css" href={% static "ContentTools/sandbox/sandbox.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "ContentTools/build/content-tools.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "aklub/css/base_template.css" %}>
        {% include "email_templates/automat_fonts.html" %}
        {% for style in styles %}
        <style id="{{ style.id }}" type="text/css">{{ style.style }}</style>
        {% endfor %}
    </head>
    <body>
      {% block content %}
      {% endblock %}
    </body>
    <script src="{% url 'js_urls' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
    <script type="text/javascript">var djangoLang = "{{ LANGUAGE_CODE }}";</script>
    <script type="text/javascript" src={% static "aklub/js/csrf_token.js" %}></script>
    <script type="text/javascript" src={% static "aklub/js/edit_html_template.js" %}></script>
    <script type="text/javascript" src={% static "ContentTools/build/content-tools.min.js" %}></script>
    <script type="text/javascript" src={% static "colorPicker/javascript_implementation/jsColorPicker.min.js" %}></script>
    <script type="text/javascript" src={% static "aklub/js/image_uploader.js" %}></script>
    <script type="text/javascript" src={% static "aklub/js/editor.js" %}></script>
    <script type="text/javascript" src={% static "aklub/js/internationalization.js" %}></script>
</html>
