{% load static %}
{% load filters %}

<div class="article__footer">
  {% if footer.social_media.all %}
  <table
    align="center"
    class="article__footer__social-media">
    <tbody>
      <!-- Social media -->
      <tr style="border:none;">
        <td style="border:none;" align="center">
          <table
            {% comment %} 1 space width = icon width (32px) {% endcomment %}
            {% if footer.social_media.all.count <= 2 %}
              {% comment %} 1 space * 2 icons {% endcomment %}
              width="96"
            {% elif footer.social_media.all.count == 3 %}
              {% comment %} 2 spaces * 3 icons {% endcomment %}
              width="160"
            {% elif footer.social_media.all.count == 4 %}
              {% comment %} 3 spaces * 4 icons {% endcomment %}
              width="224"
            {% elif footer.social_media.all.count == 5 %}
              {% comment %} 4 spaces * 5 icons {% endcomment %}
              width="288"
            {% elif footer.social_media.all.count == 6 %}
              {% comment %} 5 spaces * 6 icons {% endcomment %}
              width="352"
            {% endif %}
          >
            <tbody>
              <tr style="border:none;" height="32"></tr>
              <tr style="border:none;">
                {% for social_media in footer.social_media.all %}
                 <td align="center" style="border:none;">
                    <a href="{{ social_media.url }}" target="_blank">
                      <img src="{% get_static_prefix %}aklub/images/social_media/{{ social_media.icon_name }}.png"></img>
                    </a>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table
          >
        </td>
      </tr>
    </tbody>
  </table>
  {% endif %}

  <!-- Info -->
  <table
    border="0"
    align="left"
    width="100%"
    class="article__footer__info">
    <tbody>
      <tr style="border:none;" height="20">
        <td style="border:none;"></td>
      </tr>
      <!-- Company name -->
      <tr style="border:none;">
        <td style="border:none;">
          <b>{{ footer.company_name }}</b>
        </td>
      </tr>
      <!-- Urls -->
      {% if footer.url.all %}
        <tr style="border:none;">
          <td style="border:none;">
            {% if footer.url.all.count > 1 %}
              {{ footer.url.all|get_link_element:"list"|join:", " }}
            {% else %}
              {{ footer.url.all.0|get_link_element:"str" }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <!-- Email address -->
      {% if footer.email.all %}
        <tr style="border:none;">
          <td style="border:none;">
            {% if footer.email.all.count > 1 %}
              {{ footer.email.all|join:", " }}
            {% else %}
              {{ footer.email.all.0 }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <!-- Telephone -->
      {% if footer.phone.all %}
        <tr style="border:none;">
          <td style="border:none;">
            {% if footer.phone.all.count > 1 %}
              {{ footer.phone.all|join:", " }}
            {% else %}
              {{ footer.phone.all.0 }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <!-- Address -->
      <tr style="border:none;">
        <td style="border:none;">{{ footer.address }}</td>
      </tr>
    </tbody>
  </table>
</div>
