{% extends 'email_templates/base.html' %} {% load static %} {% block content %}
<article class="article">
  {% if header %} {% include "email_templates/header.html" %} {% endif %}
  <table
    id="background_table"
    cellspacing="0"
    cellpadding="0"
    border="0"
    bgcolor="ffffff"
    style="padding: 0"
    align="center"
  >
    <tbody>
      <tr>
        <td style="border: none">
          {% with default_width="600" default_height="auto" %}
          <table
            class="content-table"
            cellspacing="0"
            cellpadding="0"
            border="0"
            bgcolor="ffffff"
            align="center"
            style="{% if bg_img %}background-image: url('{{ bg_img }}');{% endif %}
                      width: {% if bg_img %}{{ bg_img_width }}{% else %}{{ default_width }}{% endif %}px;
                      height: {% if bg_img %}{{ bg_img_height }}px{% else %}{{ default_height }}{% endif %};"
          >
            {% endwith %}
            <tbody>
              <tr>
                <td style="border: none; padding: 0" valign="top">
                  <section
                    class="[ article__content ] [ editable ]"
                    data-name="article"
                  >
                    {% if article %} {{ article | safe }} {% else %} {% endif %}
                  </section>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  {% if footer %} {% include "email_templates/footer.html" %} {% endif %}
</article>
{% endblock %}
