{% extends "password/base.html" %}
{% load i18n %}
{% block content %}
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">{% trans "Password Reset Confirm" %}</h2>
		<hr>
        <p>>{% trans "Please enter your new password." %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">{% trans "Reset password" %}</button>
        </form>
    </div>

{% endblock %}
