<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Registrace člena klubu přátel</title>
<link rel='stylesheet' id='my-css-css'  href='http://www.nakrmteautomat.cz/admin/css/django_form.css' type='text/css' media='all' />
</head>

<body>

<h1>Děkujeme!</h1>

<p>Za několik okamžiků by vám měl přijít uvítací email s informacemi nutnými k
zadání platebního příkazu (číslo účtu, váš variabilní symbol) a s
rekapitulací vámi zapsaných údajů.</p>

<p>Znovu děkujeme za vaši pomoc a důvěru!</p>

</body>
</html>
