{% extends "admin/base_site.html" %}
{% load inline_static_tags %}
{% load i18n %}
{% load static %}
{% block branding %}
<style>
    .title {
        color: white;
        font-family: verdana;
        font-size: 24px;
        font-weight: 600;
        font-family: Arial;
        padding-left: 15px;
        font-style: oblique;
        line-height: 20px;
    }

    .version {
        color: lightblue;
        font-family: verdana;
        font-size: 6px;
        font-weight: 600;
        font-family: Arial;
        font-style: oblique;
        line-height: 7px;
        text-align: right;
    }
</style>
<div class='title'>CRM SYSTEM</div>
<div class="version">{% inline_staticfile "version.txt" %}</div>
{% endblock %}

{% block userlinks %}
<a href="{% url 'admin:notifications_notification_changelist'%}" class="notification">{% trans "Notifications" %}
    {% if notifications_count > 0 %}
    <span style="background:red; border-radius:50%; text-align: center; padding:2px">{{notifications_count}}</span>
    {% endif %}
</a> /
{{block.super}}
{% endblock %}