<table style="border-style: none;">
    <tbody>
        <tr>
            <td style="vertical-align: middle;">Currently: </td>
            <td>
                <a href="{{ MEDIA_URL }}/{{ value }}" target="_blank">{{value}}</a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Change: </td>
            <td>
                {{ input }}
            </td>
        </tr>
        {% if show_delete_button %}
        <tr>
            <td style="vertical-align: middle;">Delete: </td>
            <td>
                <input type="checkbox" name="{{name}}_delete">
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
